[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "wordcloud2"]
	path = wordcloud2
	url = https://github.com/lchiffon/wordcloud2
